.team-matches-container {
  padding: 3%;
}

.banner-image {
  width: 100%;
  height: 25vh;
}
.ul-match-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}
.loader-container {
  background-color: black;
  height: 100%;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rcb {
  background-image: linear-gradient(to bottom, #d91c1f, #a4261d, #1e293b);
}
.kkr {
  background-image: linear-gradient(to bottom, #f7db00, #13418b, #4f5db0);
}
.kxp {
  background-image: linear-gradient(to bottom, #f26d22, #4f5db0, #0f172a);
}
.csk {
  background-image: linear-gradient(to bottom, #f7db00, #13418b, #1e293b);
}
.rr {
  background-image: linear-gradient(to bottom, #da237b, #4f5db0, #1e293b);
}
.mi {
  background-image: linear-gradient(to bottom, #13418b, #a4261d, #0f172a);
}
.sh {
  background-image: linear-gradient(to bottom, #f26d22, #da237b, #1e293b);
}
.dc {
  background-image: linear-gradient(to bottom, #d91c1f, #5755a7, #4f5db0);
}
